@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}






<div class="card">
    <div class="card-body">
        <h3 class="card-title">Here is a partial View Bag here</h3>
        <div>
            I am a viewbag and happy to be here!! :)
        </div>

    </div>
</div>